S3method(summary,mvLSW)
S3method(print,mvLSW)
S3method(plot,mvLSW)
S3method(simulate,mvLSW)
export(is.mvLSW)
export(as.mvLSW)
export(mvEWS)
export(coherence)
export(rmvLSW)
export(Spectrum2Transfer)
export(AutoCorrIP)
export(varEWS)
export(ApxCI)

import(wavethresh)
import(xts)
import(zoo)
importFrom("grDevices", "col2rgb", "palette", "rgb")
importFrom("graphics", "grid", "layout", "lines", "mtext", "par", "plot", "polygon", "text", "title")
importFrom("stats", "as.ts", "is.ts", "is.tskernel", "kernel", "qnorm", "rnorm", "simulate", "time", "start", "ts", "frequency")
importFrom("fields", "image.plot","tim.colors")
useDynLib(mvLSW, .registration = TRUE)
